<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
     <div class="carGame">

         <div class='score_update'>
              
         </div>
         <div class="score"></div>
         <div class="User_info">
            <h3 class="mt-2">Dashboard</h3>
            <h5 class="mt-2">username: <%= user.name%> </h5>
            <h5 class="mt-2">Email: <%= user.email%> </h5>
            <h5 class="mt-2" > High Score <h5 id='scoreUpdate'> <%= user.highScore%></h5></h5>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
         </div>
         <div class="startScreen">
              <p>
                  press here to start <br>
                  Arrow keys to move <br>
                  Press Space to pause or resume<br>
                  If you hit another car you will lose.
              </p>                             
         </div>
         <div class="PauseResume hide" >
            <p> 
                Paused<br>
                press Space to Resume <br>
            </p>                             
       </div>
         <div class="gameArea">  </div>
     </div>
     <script src="/public/source.js"></script>
</body>
</html>